<nav>
  <div class="nav-wrapper green darken-3">
    <a href="https://amishraj.github.io/airthincc/" class="left flow-text" style="margin-left: 20px;">AirThin Currency Convert &nbsp;</a>
    <a href="#" data-target="mobile-demo" class="sidenav-trigger right"><i class="material-icons">menu</i></a>
    <ul class="right hide-on-med-and-down amber-text text-lighten-5    ">
      <!-- <li><a href="collapsible.html">Home</a></li> -->
      <li><a class="modal-trigger" href="#aboutmodal" >About</a></li>
    </ul>
  </div>
</nav>

<ul class="sidenav" id="mobile-demo">
  <!-- <li><a href="collapsible.html">Home</a></li> -->
  <li><a class="modal-trigger" href="#aboutmodal" >About</a></li>
</ul>

<br>

<!--About Modal-->
 <div id="aboutmodal" class="modal">
  <div class="modal-content">
    <h4>About AirThin Currency Convert</h4>
    <p> <b>AirThin Currency Convert </b>  is a <b> Lightweight </b> Currency Converter WebApp that makes use of the <b> ExchangeRate API </b>
       in order to fetch correct Currency Rates.
      The rates are updated every day to ensure consistency. <br><br>

      This project was built using <b>Angular 9</b>  and <b> Materialize-CSS </b> </p>
  </div>
  <div class="modal-footer">
    <a href="https://github.com/amishraj/airthincc.git" target="_blank" class="modal-close waves-effect waves-green btn-flat">Github</a>
  </div>
</div>
        

<div class="container">
  <div class="container-fluid">
  <div class="row">
    <div class="col s6 flow-text  grey-text text-darken-2">
  <h4>Fast and Easy Currency Conversion. </h4>
  <h5>It really is that simple.</h5>
  <br>

  <div class="row">
  <div class="input-field col s12">
    <select [(ngModel)]="basecurr" (ngModelChange)="onChangeSrc()">
      <option value="" disabled selected>Choose a Currency</option>
      <option value="AED">AED	UAE Dirham	United Arab Emirates </option>
      <option value="ARS">ARS	Argentine Peso	Argentina</option>
      <option value="AUD">AUD	Australian Dollar	Australia</option>
      <option value="BGN">BGN	Bulgarian Lev	Bulgaria</option>
      <option value="BRL">BRL	Brazilian Real	Brazil</option>
      <option value="BSD">BSD	Bahamian Dollar	Bahamas</option>
      <option value="CAD">CAD	Canadian Dollar	Canada</option>
      <option value="CHF">CHF	Swiss Franc	Switzerland</option>
      <option value="CLP">CLP	Chilean Peso	Chile</option>
      <option value="CNY">CNY	Chinese Renminbi	China</option>
      <option value="COP">COP	Colombian Peso	Colombia</option>
      <option value="CZK">CZK	Czech Koruna	Czech Republic</option>
      <option value="DKK">DKK	Danish Krone	Denmark</option>
      <option value="DOP">DOP	Dominican Peso	Dominican Republic</option>
      <option value="EGP">EGP	Egyptian Pound	Egypt</option>
      <option value="EUR">EUR	Euro	Germany</option>
      <option value="EUR">EUR	Euro	Austria</option>
      <option value="EUR">EUR	Euro	Belgium</option>
      <option value="EUR">EUR	Euro	Cyprus</option>
      <option value="EUR">EUR	Euro	Estonia</option>
      <option value="EUR">EUR	Euro	Finland</option>
      <option value="EUR">EUR	Euro	France</option>
      <option value="EUR">EUR	Euro	Greece</option>
      <option value="EUR">EUR	Euro	Ireland</option>
      <option value="EUR">EUR	Euro	Italy</option>
      <option value="EUR">EUR	Euro	Latvia</option>
      <option value="EUR">EUR	Euro	Lithuania</option>
      <option value="EUR">EUR	Euro	Luxembourg</option>
      <option value="EUR">EUR	Euro	Malta</option>
      <option value="EUR">EUR	Euro	Netherlands</option>
      <option value="EUR">EUR	Euro	Portugal</option>
      <option value="EUR">EUR	Euro	Slovakia</option>
      <option value="EUR">EUR	Euro	Slovenia</option>
      <option value="EUR">EUR	Euro	Spain</option>
      <option value="FJD">FJD	Fiji Dollar	Fiji</option>
      <option value="GBP">GBP	Pound Sterling	United Kingdom</option>
      <option value="GTQ">GTQ	Guatemalan Quetzal	Guatemala</option>
      <option value="HKD">HKD	Hong Kong Dollar	Hong Kong</option>
      <option value="HRK">HRK	Croatian Kuna	Croatia</option>
      <option value="HUF">HUF	Hungarian Forint	Hungary</option>
      <option value="IDR">IDR	Indonesian Rupiah	Indonesia</option>
      <option value="ILS">ILS	Israeli New Shekel	Israel</option>
      <option value="INR">INR	Indian Rupee	India</option>
      <option value="ISK">ISK	Icelandic Krona	Iceland</option>
      <option value="JPY">JPY	Japanese Yen	Japan</option>
      <option value="KRW">KRW	South Korean Won	South Korea</option>
      <option value="KZT">KZT	Kazakhstani Tenge	Kazakhstan</option>
      <option value="MVR">MVR	Maldivian Rufiyaa	Maldives</option>
      <option value="MXN">MXN	Mexican Peso	Mexico</option>
      <option value="MYR">MYR	Malaysian Ringgit	Malaysia</option>
      <option value="NOK">NOK	Norwegian Krone	Norway</option>
      <option value="NZD">NZD	New Zealand Dollar	New Zealand</option>
      <option value="PAB">PAB	Panamanian Balboa	Panama</option>
      <option value="PEN">PEN	Peruvian Sol	Peru</option>
      <option value="PHP">PHP	Philippine Peso	Philippines</option>
      <option value="PKR">PKR	Pakistani Rupee	Pakistan</option>
      <option value="PLN">PLN	Polish Zloty	Poland</option>
      <option value="PYG">PYG	Paraguayan Guarani	Paraguay</option>
      <option value="RON">RON	Romanian Leu	Romania</option>
      <option value="RUB">RUB	Russian Ruble	Russia</option>
      <option value="SAR">SAR	Saudi Riyal	Saudi Arabia</option>
      <option value="SEK">SEK	Swedish Krona	Sweden</option>
      <option value="SGD">SGD	Singapore Dollar	Singapore</option>
      <option value="THB">THB	Thai Baht	Thailand</option>
      <option value="TRY">TRY	Turkish Lira	Turkey</option>
      <option value="TWD">TWD	New Taiwan Dollar	Taiwan</option>
      <option value="UAH">UAH	Ukrainian Hryvnia	Ukraine</option>
      <option value="USD">USD	United States Dollar	United States</option>
      <option value="UYU">UYU	Uruguayan Peso	Uruguay</option>
      <option value="ZAR">ZAR	South African Rand	South Africa</option>
    </select>
    <label>Source Currency</label>
  </div>

</div>
<div class="row">
  <div class="input-field col s12">
    <select [(ngModel)]="targetcurr" (ngModelChange)="onChangeTrg()">
      <option value="" disabled selected>Choose a Currency</option>
      <option value="AED">AED	UAE Dirham	United Arab Emirates </option>
      <option value="ARS">ARS	Argentine Peso	Argentina</option>
      <option value="AUD">AUD	Australian Dollar	Australia</option>
      <option value="BGN">BGN	Bulgarian Lev	Bulgaria</option>
      <option value="BRL">BRL	Brazilian Real	Brazil</option>
      <option value="BSD">BSD	Bahamian Dollar	Bahamas</option>
      <option value="CAD">CAD	Canadian Dollar	Canada</option>
      <option value="CHF">CHF	Swiss Franc	Switzerland</option>
      <option value="CLP">CLP	Chilean Peso	Chile</option>
      <option value="CNY">CNY	Chinese Renminbi	China</option>
      <option value="COP">COP	Colombian Peso	Colombia</option>
      <option value="CZK">CZK	Czech Koruna	Czech Republic</option>
      <option value="DKK">DKK	Danish Krone	Denmark</option>
      <option value="DOP">DOP	Dominican Peso	Dominican Republic</option>
      <option value="EGP">EGP	Egyptian Pound	Egypt</option>
      <option value="EUR">EUR	Euro	Germany</option>
      <option value="EUR">EUR	Euro	Austria</option>
      <option value="EUR">EUR	Euro	Belgium</option>
      <option value="EUR">EUR	Euro	Cyprus</option>
      <option value="EUR">EUR	Euro	Estonia</option>
      <option value="EUR">EUR	Euro	Finland</option>
      <option value="EUR">EUR	Euro	France</option>
      <option value="EUR">EUR	Euro	Greece</option>
      <option value="EUR">EUR	Euro	Ireland</option>
      <option value="EUR">EUR	Euro	Italy</option>
      <option value="EUR">EUR	Euro	Latvia</option>
      <option value="EUR">EUR	Euro	Lithuania</option>
      <option value="EUR">EUR	Euro	Luxembourg</option>
      <option value="EUR">EUR	Euro	Malta</option>
      <option value="EUR">EUR	Euro	Netherlands</option>
      <option value="EUR">EUR	Euro	Portugal</option>
      <option value="EUR">EUR	Euro	Slovakia</option>
      <option value="EUR">EUR	Euro	Slovenia</option>
      <option value="EUR">EUR	Euro	Spain</option>
      <option value="FJD">FJD	Fiji Dollar	Fiji</option>
      <option value="GBP">GBP	Pound Sterling	United Kingdom</option>
      <option value="GTQ">GTQ	Guatemalan Quetzal	Guatemala</option>
      <option value="HKD">HKD	Hong Kong Dollar	Hong Kong</option>
      <option value="HRK">HRK	Croatian Kuna	Croatia</option>
      <option value="HUF">HUF	Hungarian Forint	Hungary</option>
      <option value="IDR">IDR	Indonesian Rupiah	Indonesia</option>
      <option value="ILS">ILS	Israeli New Shekel	Israel</option>
      <option value="INR">INR	Indian Rupee	India</option>
      <option value="ISK">ISK	Icelandic Krona	Iceland</option>
      <option value="JPY">JPY	Japanese Yen	Japan</option>
      <option value="KRW">KRW	South Korean Won	South Korea</option>
      <option value="KZT">KZT	Kazakhstani Tenge	Kazakhstan</option>
      <option value="MVR">MVR	Maldivian Rufiyaa	Maldives</option>
      <option value="MXN">MXN	Mexican Peso	Mexico</option>
      <option value="MYR">MYR	Malaysian Ringgit	Malaysia</option>
      <option value="NOK">NOK	Norwegian Krone	Norway</option>
      <option value="NZD">NZD	New Zealand Dollar	New Zealand</option>
      <option value="PAB">PAB	Panamanian Balboa	Panama</option>
      <option value="PEN">PEN	Peruvian Sol	Peru</option>
      <option value="PHP">PHP	Philippine Peso	Philippines</option>
      <option value="PKR">PKR	Pakistani Rupee	Pakistan</option>
      <option value="PLN">PLN	Polish Zloty	Poland</option>
      <option value="PYG">PYG	Paraguayan Guarani	Paraguay</option>
      <option value="RON">RON	Romanian Leu	Romania</option>
      <option value="RUB">RUB	Russian Ruble	Russia</option>
      <option value="SAR">SAR	Saudi Riyal	Saudi Arabia</option>
      <option value="SEK">SEK	Swedish Krona	Sweden</option>
      <option value="SGD">SGD	Singapore Dollar	Singapore</option>
      <option value="THB">THB	Thai Baht	Thailand</option>
      <option value="TRY">TRY	Turkish Lira	Turkey</option>
      <option value="TWD">TWD	New Taiwan Dollar	Taiwan</option>
      <option value="UAH">UAH	Ukrainian Hryvnia	Ukraine</option>
      <option value="USD">USD	United States Dollar	United States</option>
      <option value="UYU">UYU	Uruguayan Peso	Uruguay</option>
      <option value="ZAR">ZAR	South African Rand	South Africa</option>
    </select>
    <label>Target Currency</label>
  </div>
   
</div>

<div class="row">
 <!--Amount-->
 <div class="input-field col s10">
  <input (keydown.backspace)="bkspfunc()" id="base_amt" type="number" step="any" class="validate" [(ngModel)]="amt">
  <label for="base_amt">Amount</label>
</div>

<div class="input-field col s2">
  <button class="btn waves-effect green darken-3" (click)="convert()">Submit</button>
</div>

</div>

</div> <!--LEFT COL END-->

<div class="col s6 flow-text">
  <div class="card">
    <div class="card-image right">
      <img src="assets/money.jpg">
      <!-- <span class="card-title right">Made by Amish Raj</span> -->
      <span class="card-title right hide-on-med-and-down">Rates Last Updated: {{lastupdated |  date:'medium'}}</span>

    </div>
  </div>
</div> <!--RIGHT COL END-->

</div><!--End of Row-->

<div class="row flow-text  grey-text text-darken-2" *ngIf="result_amt!=-1 && amt!=null">
  <h5>{{amt}} {{basecurr}} is equal to {{result_amt}} {{targetcurr}} </h5>
 </div>

</div>
</div>

<footer class="page-footer green darken-3">
  <div class="container">
    <div class="row">
      <div class="col l6 s12">
        <h5 class="white-text">Amish Raj</h5>
        <p class="grey-text text-lighten-4">UI Designer. Front End Developer.</p>
      </div>
      <div class="col l4 offset-l2 s12">
        <h5 class="white-text">Other Projects</h5>
        <ul>
          <li><a class="grey-text text-lighten-3" href="https://amishraj.github.io/airthinnotes/" target="_blank">AirThin Notes</a></li>
          <li><a class="grey-text text-lighten-3" href="https://amishraj.github.io/" target="_blank">Web Portfolio</a></li>
          <!-- <li><a class="grey-text text-lighten-3" href="#!">Link 3</a></li>
          <li><a class="grey-text text-lighten-3" href="#!">Link 4</a></li> -->
        </ul>
      </div>
    </div>
  </div>
  <div class="footer-copyright">
    <div class="container">
    Created in 2020 by Amish Raj
    <a class="grey-text text-lighten-4 right" href="https://amishraj.github.io/airthincc/">AirThin Currency Convert</a>
    </div>
  </div>
</footer>